.dropzone {
  width: 300px;
  border: 3px dashed #bbb;
  border-radius: 5px;
  line-height:100px;
  text-align: center;

  &.hover{
    background: #eee;
  }

  &.active {
    border-color: #bde6b9;
    background: #f2fff3;
  }
}
