.dropzone {
  width: 300px;
  border: 3px dashed #bbb;
  border-radius: 5px;
  line-height:100px;
  text-align: center;

  &.hover{
    background: #eee;
  }

  &.active {
    border-color: #bde6b9;
    background: #f2fff3;
  }
}

.cards{
  margin: 0 auto;
}

.new.card{
  .header{
    text-align: center;
  }
}

.ui.search.form{
  margin: 1em 0;
}

.show{
  text-align: center;
  img{
    max-width: 100%;
  }
}
